<div>
    {{#each this}}
    <section class="comments">
        <div>
            {{comment_text}}
        </div>
        <div>
            {{user.username}} on {{format_date created_at}}
        </div>
    </section>
    {{/each}}
</div>