<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tech Thought Box</title>
    </head>

    <body>
        <div>
            <header>
                <h1><a href="/">Tech Thought Box</a></h1>
                <nav>
                    <a href="/login">Login</a>
                    <button id="log-out">LogOut</button>
                </nav>
            </header>
            <main>
                {{{ body }}}
            </main>
            <footer>
                <p>♥︎</p>
            </footer>
        </div>
        <script src="/javascript/logout.js"></script>
    </body>
</html>