<form class="login-Form">
    <div>
        <label for="username-login">UserName:</label>
        <input type="text" id="username-login" class="login-signup-info" />
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login" class="login-signup-info" />
    </div>
    </br>
    <div>
        <button type="submit">Log In!</button>
    </div>
</form>

<form class="signup-Form">
    <div>
        <label for="username-signup">UserName:</label>
        <input type="text" id="username-signup" class="username-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="text" id="password-signup" class="password-signup" />
    </div>
    <div>
        <p>Password MUST be at least 8 characters!</p>
    </div>
    <div>
        <button type="submit">Create User!</button>
    </div>
</form>

<script src="/javascript/login.js"></script>