* {
    box-sizing: border-box;
    background-color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


a {
    text-decoration: none;
    color: darkred;
    font-weight: bold;
    transition: color .5s;
}

a:hover {
    color: lightcoral;
}

button {
    background-color: black;
    border: 0;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background-color .5s;
    padding: 10px
}
  
button:hover {
    background-color: darkred;
}

.entries {
    margin: 10px;
    padding: 10px;
}

nav a {
    padding-left: 25px;
}

h2 {
    color: darkred;
}

.comment-area {
    padding: 15px;
}

.comments {
    padding: 10px;
}

.username {
    font-style: italic;
    font-weight: bold;
}

.entry-text {
    min-width: 50%;
    min-height: 200px;
    border-radius: 5px;
    background-color: white;
}

input {
    min-width: 50%;
    min-height: 25px;
    border-radius: 5px;
    background-color: white;
}

label {
    font-weight: bold;
}

.login-Form, .signup-Form {
    text-align: center;
    padding: 10px;
}

.login-signup-info {
    min-width: 20%;
    min-height: 25px;
    border-radius: 5px;
    background-color: white;
}

.comment-entry {
    min-width: 50%;
    min-height: 50px;
    border-radius: 5px;
    background-color: white;
}

footer {
    text-align: center;
}